:root {
  --font-family-primary: "Vollkorn", serif;
  --font-family-secondary: "PT Sans", sans-serif;
  --font-size-title: 32px;
  --line-height-title: 1.4;
  --font-size-caption: 14px;
  --line-height-caption: 1.2;
  --color-text: #222022;
  --color-highlight-primary: #ffef7e;
  --color-highlight-secondary: #b7f9e9;
  --border-radius-primary: 32px;
}

.card {
  max-width: 960px;
  border-radius: var(--border-radius-primary);
  box-shadow: 24px 24px 80px rgba(0, 0, 0, 0.1);
  padding: 20px 20px 28px 20px;
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.card__image {
  width: 40%;
  max-height: 200px;
  border-radius: var(--border-radius-primary);
  object-fit: cover;
}

.card__content {
  width: 100%;
}

.card__date {
  display: block;
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-caption);
  line-height: var(--line-height-caption);
  text-transform: uppercase;
  color: var(--color-text);
  margin-bottom: 6px;
}

.card__title {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-title);
  line-height: var(--line-height-title);
  color: var(--color-text);
  background-image: linear-gradient(
    90deg,
    var(--color-highlight-primary),
    var(--color-highlight-secondary)
  );
  background-size: 100% 42%;
  background-repeat: no-repeat;
  background-position: 0 85%;
  padding: 0 4px;
}

.card__footer {
  margin-top: 1rem;
}

.tag {
  align-self: flex-start;
  padding: 0.25em 0.75em;
  border-radius: 1em;
  font-size: 0.75rem;
}

.tag-blue {
  background: linear-gradient(to bottom, #2f80ed, #56ccf2);
  color: #fafafa;
}

.tag-brown {
  background: linear-gradient(to bottom, #ffd194, #d1913c);
  color: #fafafa;
}

.tag-red {
  background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}
.user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.user__image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.user__info h5 {
  font-size: 16px;
  margin: 0;
}

.user__info small {
  color: #666;
}
