.dropdown-label,
.selected-category,
.category-text {
  font-size: 0.8rem;
  color: #606366;
}

.category-selector-container {
  position: relative;
  width: 100%;
}

.category-row {
  display: flex;
  align-items: center;
  gap: 20px; /* Space between label and dropdown */
}

.category-dropdown {
  flex: 1;
  padding: 10px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.selected-category {
  display: flex;
  align-items: center;
  gap: 8px; /* Space between dot and text */
}

.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  list-style: none; /* Remove bullets */
  padding: 0;
  margin: 0;
}

.dropdown-option {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.dropdown-option:hover {
  background-color: #f2f2f2;
  color: #000;
}

.category-dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
}

/* .category-text {
  color: #000;
  font-size: 14px;
} */

/* Sub-category Buttons */
.subcategory-container {
  margin-top: 20px; /* Space between Category and Sub-category */
}

.subcategory-label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
}

.subcategory-buttons {
  display: flex;
  flex-wrap: wrap; /* Wrap buttons to next row if needed */
  gap: 10px; /* Space between buttons */
}

.subcategory-button {
  padding: 5px 10px;
  font-size: 12px;
  border: 1px solid #ccc; /* Neutral gray border by default */
  border-radius: 8px;
  background-color: transparent;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}

.subcategory-button:hover {
  background-color: var(--hover-color); /* Category color on hover */
  color: #fff; /* White text when hovered */
  border-color: var(--hover-color); /* Match border to hover color */
}

.subcategory-button.selected {
  background-color: var(--selected-color); /* Category color when selected */
  color: #fff; /* White text for selected state */
  border-color: var(--selected-color); /* Match border to selected color */
}
