.footer {
  background-color: #fff;
  padding: 0.3rem;
  font-size: 0.9rem;
  color: #666;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  align-content: center;

  .p {
    margin: 0;
  }
}
