.logo {
  width: 100px; // Set the logo size to 150px
  position: absolute; // Positioning the logo within the login-container
  top: 2px; // Padding from the top
  left: 15px; // Padding from the left
}
